{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Scrolling Nav - Start Bootstrap Template</title>
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body id="page-top">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand text-monospace" href="{% url 'ranking:index' %}">色々トーナメント</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Header-->
        <header class="bg-primary bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">トーナメント形式で最も優れたものを選ぼう</h1>
                <p class="lead"></p>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        カテゴリーを選ぶ
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" onclick="changeCondition('ミュージック')">ミュージック</a></li>
                      <li><a class="dropdown-item" onclick="changeCondition('漫画')">漫画</a></li>
                      <li><a class="dropdown-item" onclick="changeCondition('バラエティ')">バラエティ</a></li>
                    </ul>
                </div>
            </div>
        </header>
        
        <!-- Page Content-->
        <div class="container px-4 px-lg-5 mt-4">
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5" id="card_holder">

            </div>
        </div>
        <div class="container">
            <div class="col-12 text-center" id="page">
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS
        <script src="{% static 'js/scripts.js' %}"></script>
    -->
        {% csrf_token %}
        <script>
            var max_num = 2;
            updatePage(1);
            
            function updatePage(active_num)
            {
                document.getElementById('page').innerHTML = '';
                if(Math.floor(max_num/6+1) == 1)
                {
                    return;
                }
                document.getElementById('page').appendChild(createPagination(Math.floor(max_num/6+1), active_num));
            };

            function createPagination(max_num, active_num) {
        // ul要素を作成
        const ul = document.createElement("ul");
        ul.classList.add("pagination");

        if(active_num != 1)
        {
            // 前へリンクを作成
          const prev = document.createElement("li");
          prev.classList.add("page-item");
          const prevLink = document.createElement("a");
          prevLink.classList.add("page-link");
          prevLink.href = "javascript:updatePage(" + String(active_num-1) + ")";
          prevLink.textContent = "前へ";
          prev.appendChild(prevLink);
          ul.appendChild(prev);
        }
        var page_nation_count_until_active = 0;
        var room_right = max_num - active_num;
        var left_num = 5;
        if(room_right <4)
        {
          left_num += 4-room_right;
        }
        for(let i = left_num;i>0;i--) {
          if(active_num-i>0){
            page_nation_count_until_active++;
            // ページ番号1を作成
            const page1 = document.createElement("li");
            page1.classList.add("page-item");
            const page1Link = document.createElement("a");
            page1Link.classList.add("page-link");
            page1Link.href = "javascript:updatePage(" + String(active_num-i) + ")";
            page1Link.textContent = String(active_num-i);
            page1.appendChild(page1Link);
            ul.appendChild(page1);
          }
        }
        
        // ページ番号1を作成
        const page1 = document.createElement("li");
        page1.classList.add("page-item");
        const page1Link = document.createElement("a");
        page1Link.classList.add("page-link");
        page1Link.classList.add("text-secondary");
        page1Link.href = "javascript:updatePage(" + String(active_num) + ")";
        page1Link.textContent = String(active_num);
        page1.appendChild(page1Link);
        ul.appendChild(page1);
        page_nation_count_until_active++;

        for(let i = 1;i<=10-page_nation_count_until_active;i++) {
          if(active_num+i<=max_num){
            // ページ番号1を作成
            const page1 = document.createElement("li");
            page1.classList.add("page-item");
            const page1Link = document.createElement("a");
            page1Link.classList.add("page-link");
            page1Link.href = "javascript:updatePage(" + String(active_num+i) + ")";
            page1Link.textContent = String(active_num+i);
            page1.appendChild(page1Link);
            ul.appendChild(page1);
          }
        }  
      
        if(active_num != max_num)
        {  // 次へリンクを作成
          const next = document.createElement("li");
          next.classList.add("page-item");
          const nextLink = document.createElement("a");
          nextLink.classList.add("page-link");
          nextLink.href = "javascript:updatePage(" + String(active_num+1) + ")";
          nextLink.textContent = "次へ";
          next.appendChild(nextLink);
          ul.appendChild(next);
        }

        // ul要素を返す
        return ul;
    }
            window.onload = function() {
                $.ajax({
                type: 'POST',
                url: '/getData/',
                data: {
                    'category': 'ミュージック',
                },
                success: function(response) {
                    clearDiv(document.getElementById('card_holder'));
                    for (let i = 0; i< response.total; i++) {
                        var id = response.tournament[i].id;
                        var url = "/preview/movies/" + id;
                        document.getElementById('card_holder').appendChild(createCard(response.tournament[i].name, response.tournament[i].comment, url));
                    }
                },
                error: function(response) {
                    console.log('エラーが発生しました');
                }
                });

                $.ajax({
                type: 'POST',
                url: '/getData/',
                data: {
                    'category': '漫画',
                },
                success: function(response) {
                    for (let i = 0; i< response.total; i++) {
                        var id = response.tournament[i].id;
                        var url = "/preview/movies/" + id;
                        document.getElementById('card_holder').appendChild(createCard(response.tournament[i].name, response.tournament[i].comment, url));
                    }
                },
                error: function(response) {
                    console.log('エラーが発生しました');
                }
                });

                $.ajax({
                type: 'POST',
                url: '/getData/',
                data: {
                    'category': 'バラエティ',
                },
                success: function(response) {
                    for (let i = 0; i< response.total; i++) {
                        var id = response.tournament[i].id;
                        var url = "/preview/movies/" + id;
                        document.getElementById('card_holder').appendChild(createCard(response.tournament[i].name, response.tournament[i].comment, url));
                    }
                },
                error: function(response) {
                    console.log('エラーが発生しました');
                }
                });
            };
            function createCard(titleText, bodyText, btnHref) {
                // col-md-4 mb-5要素を作成
                var colDiv = document.createElement("div");
                colDiv.className = "col-md-4 mb-5";

                // card要素を作成
                var cardDiv = document.createElement("div");
                cardDiv.className = "card h-100";

                // card-body要素を作成
                var cardBodyDiv = document.createElement("div");
                cardBodyDiv.className = "card-body";

                // card-title要素を作成
                var cardTitle = document.createElement("h2");
                cardTitle.className = "card-title";
                cardTitle.innerText = titleText;

                // card-text要素を作成
                var cardText = document.createElement("p");
                cardText.className = "card-text";
                cardText.innerText = bodyText;

                // card-footer要素を作成
                var cardFooterDiv = document.createElement("div");
                cardFooterDiv.className = "card-footer";

                // btn要素を作成
                var btn = document.createElement("a");
                btn.className = "btn btn-primary btn-sm";
                btn.href = btnHref;
                btn.innerText = "これで遊ぶ";

                // 要素のツリーを構築
                cardBodyDiv.appendChild(cardTitle);
                cardBodyDiv.appendChild(cardText);
                cardDiv.appendChild(cardBodyDiv);
                cardFooterDiv.appendChild(btn);
                cardDiv.appendChild(cardFooterDiv);
                colDiv.appendChild(cardDiv);

                // 生成された要素を返す
                return colDiv;
            }

            // body要素に新しいカード要素を追加
            function clearDiv(element) {
                // 子要素を全て削除
                while (element.firstChild) {
                    element.removeChild(element.firstChild);
                }
            }

            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            const csrftoken = getCookie('csrftoken');
            $.ajaxSetup({
                headers: {
                    'X-CSRFToken': csrftoken
                }
            });

            function changeCondition(category_name) {
                document.getElementById("dropdownMenuButton1").innerHTML = category_name;
                $.ajax({
                type: 'POST',
                url: '/getData/',
                data: {
                    'category': category_name,
                },
                success: function(response) {
                    clearDiv(document.getElementById('card_holder'));
                    for (let i = 0; i< response.total; i++) {
                        var id = parseInt(response.tournament[i].id);
                        var url = "/preview/movies/" + id;
                        document.getElementById('card_holder').appendChild(createCard(response.tournament[i].name, response.tournament[i].comment, url));
                    }
                },
                error: function(response) {
                    console.log('エラーが発生しました');
                }
                });


            }
        </script>
    </body>
</html>
